.absence-card{
    display:flex;
    background-color: #aac9ce;
   
    padding: 1px;
    color: black;
    font-family: Helvetica;
    align-items: center;
    border-bottom: #222f3e solid 1px;
    margin:0 7px 1px 7px;
    box-shadow: #222f3e -5px 5px  10px;
    border-radius: 5px;;
    padding-left:20px;
}
.absence-card > div{
    width:20%;
}

.absence-card #img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    border: #222f3e solid 2px;
}

.absence-card:hover{
    cursor: pointer;
    background-color: #54a0ff;
}