.ajout-absence{
    margin: 40px  ;
    background-color: #870040;
    border-radius: 5px;
}
.form-ajout{
    display: flex;
}
#form-ajout-item{
    margin:5px 40px 0 40px;
    color:aliceblue
}

.ajout-absence input{
    width:200px;
    height: 25px;
    border-radius: 5px;
    border:none;
    margin-left:60px ;
}
.ajout-absence #txt{
    margin-bottom:5px;
    margin-left:60px ;
}

.ajout-absence #btn{
    margin:30px 40px 20px 130px;
    padding: 5px 20px 5px 20px ;
    height: 40px;
    border-radius: 5px;
    border: #ece0d1 solid 2px;
    background-color: #775f76;
    color:#ffffff;
    font-weight: bold;
}

.ajout-absence #btn:hover{
    background-color:rgb(50, 47, 61) ;
    color:#FFF;
}
.ajout-absence #message{
    color:#FFF;
    font-weight: bold;
    padding-left:  40px;
    height: 30px;
    margin-left:60px ;
}