.presence{
    width: 100%;
    margin:10px 90px 90px 290px;
}
.presence .list-header{
    display:flex;
    background-color: #2b2129;
    border-radius: 5px;
    justify-content: start;
    padding: 13px;
    color:#fff;
    font-family: Helvetica;
    margin :7px;
    box-shadow: #222f3e -5px 5px  10px;
}
.presence .list-header2{
display:flex;
background-color: #2b2129;
border-radius: 5px;
justify-content: start;
padding: 13px;
color:#fff;
font-family: Helvetica;
margin :7px 7px 25px 7px;
box-shadow: #222f3e -5px 5px  10px;
}

.presence .list-header2>div {
    width:180px;
}

